/* === Fontes === */
$font-family-base: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$font-family-code: 'JetBrains Mono', 'Fira Code', monospace;
:root{
    --z-index-base: 1;
}
.v-bentri-editor-full-screen {
    --z-index-base: 10000;
    z-index: var(--z-index-base);
}
$z-index-ref: var(--z-index-base, 1);

$z-index-editor:      #{$z-index-ref}; 
$z-index-sidebar:     calc(#{$z-index-ref} + 10);
$z-index-header:      calc(#{$z-index-ref} + 20);
$z-index-commandlist: calc(#{$z-index-ref} + 30);
$z-index-tooltip:     calc(#{$z-index-ref} + 40);
$z-index-floating:    calc(#{$z-index-ref} + 50);
$z-index-modal:       calc(#{$z-index-ref} + 100);


/* === Border Radius === */
$radius-sm: 4px;
$radius-md: 6px;
$radius-lg: 8px;
$radius-full: 9999px;

/* === Layout === */
$sidebar-width: 60px;
$content-max-width: 900px;

/* === Breakpoints  === */
$breakpoint-mobile: 768px;